<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>i558366</username>
      <password>cmVmdGtuOjAxOjE3MjA2MTcxMDI6cUp0aW1kUVlVNE5MeDJ4V09EaWQ1QXFnQkNZ</password>
      <id>sfsf-lms-build-release-maven</id>
    </server>
	<server>
      <username>i558366</username>
      <password>cmVmdGtuOjAxOjE3MjA2MTcxMDI6cUp0aW1kUVlVNE5MeDJ4V09EaWQ1QXFnQkNZ</password>
      <id>common.repositories.cloud.sap</id>
    </server>
	<server>
      <username>i558366</username>
      <password>cmVmdGtuOjAxOjE3MjA2MTcxMDI6cUp0aW1kUVlVNE5MeDJ4V09EaWQ1QXFnQkNZ</password>
      <id>deploy.releases</id>
    </server>
	<server>
      <username>i558366</username>
      <password>cmVmdGtuOjAxOjE3MjA2MTcxMDI6cUp0aW1kUVlVNE5MeDJ4V09EaWQ1QXFnQkNZ</password>
      <id>maven-central-cache</id>
    </server>
	<server>
      <username>i558366</username>
      <password>cmVmdGtuOjAxOjE3MjA2MTcxMDI6cUp0aW1kUVlVNE5MeDJ4V09EaWQ1QXFnQkNZ</password>
      <id>deploy.milestones.xmake</id>
    </server>
	<server>
      <username>i558366</username>
      <password>cmVmdGtuOjAxOjE3MTUwNzIyMDk6ZDJ1WHI4NjBzWUVpU0Y0OXVJelJoSGRYTGs0</password>
      <id>int-deploy-releases</id>
    </server>  
	<server>
      <username>i558366</username>
      <password>cmVmdGtuOjAxOjE3MTUwNzIyMDk6ZDJ1WHI4NjBzWUVpU0Y0OXVJelJoSGRYTGs0</password>
      <id>int-deploy-snapshots</id>
    </server>
	<server>
      <username>i558366</username>
      <password>cmVmdGtuOjAxOjE3MTUwNzIyMDk6ZDJ1WHI4NjBzWUVpU0Y0OXVJelJoSGRYTGs0</password>
      <id>build-3rd-party-releases-cx-commerce-maven</id>
    </server>
	<server>
      <username>i558366</username>
      <password>cmVmdGtuOjAxOjE3MTUwNzIyMDk6ZDJ1WHI4NjBzWUVpU0Y0OXVJelJoSGRYTGs0</password>
      <id>build-releases</id>
    </server>
	<server>
      <username>i558366</username>
      <password>cmVmdGtuOjAxOjE3MTUwNzIyMDk6ZDJ1WHI4NjBzWUVpU0Y0OXVJelJoSGRYTGs0</password>
      <id>build-snapshots</id>
    </server>
	<server>
      <username>i558366</username>
      <password>cmVmdGtuOjAxOjE3MTY0NzQ5NTY6bTJVOUcwek5ZTHNNbVBtWXlmUjZnV1VaamxR</password>
      <id>deploy-releases-hyperspace-maven</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
		<repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>build-snapshots</id>
          <name>build-snapshots</name>
          <url>https://int.repositories.cloud.sap/artifactory/build-snapshots</url>
        </repository> 
      </repositories>
	  
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>build-releases</name>
          <url>https://int.repositories.cloud.sap/artifactory/build-releases</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>build-snapshots</name>
          <url>https://int.repositories.cloud.sap/artifactory/build-snapshots</url>
        </pluginRepository>
      </pluginRepositories>
		
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
